<div id="form-container">
	<div class="valign-wrapper" style="width:100%;height:100%;position: relative;">
		<div class="valign" style="width:100%;">
			<div class="container">
				<div class="row">
					<div class="col s12 m6 offset-m3">
						<form #alumnoForm="ngForm" (ngSubmit)="onSubmit(alumnoForm)">
							<div [hidden]="editMode" class="row">
								<h5>Nuevo alumno</h5>
							</div>
							<div [hidden]="!editMode" class="row">
								<h5>Editar alumno: {{newAlumno.usuario.nombre + ' ' + newAlumno.usuario.apellido}}</h5>
							</div>
							<div class="row">
								<div class="col s12 m12 l12">

									<!--Nombre-->
									<div class="input-field">
										<i class="material-icons prefix">account_circle</i>
										<input id="nombre" type="text" class="form-control validate" [(ngModel)]="newAlumno.usuario.nombre" name="nombre" pattern="[A-Za-z0-9-_\sáéíóúÁÉÍÓÚÑñ.,]+"
										 title="El texto ingresado no puede contener caracteres especiales" required>
										<label for="nombre" class="active" data-error="El texto ingresado no puede contener caracteres especiales" data-success="">Nombre</label>
									</div>

									<!--Apellido-->
									<div class="input-field">
										<i class="material-icons prefix">account_circle</i>
										<input id="apellido" type="text" class="form-control validate" [(ngModel)]="newAlumno.usuario.apellido" name="apellido" pattern="[A-Za-z0-9-_\sáéíóúÁÉÍÓÚÑñ.,]+"
										 title="El texto ingresado no puede contener caracteres especiales" required>
										<label for="apellido" class="active" data-error="El texto ingresado no puede contener caracteres especiales" data-success="">Apellido</label>
									</div>

									<!--DNI-->
									<div class="input-field">
										<i class="material-icons prefix">account_circle</i>
										<input id="dni" type="text" class="form-control validate" [(ngModel)]="newAlumno.usuario.dni" name="dni" pattern="^[0-9]+"
										 title="El texto ingresado no puede contener caracteres especiales" required>
										<label for="dni" class="active" data-error="El DNI ingresado tiene un formato no válido" data-success="">DNI</label>
									</div>

									<!--Edad-->
									<div class="input-field">
										<i class="material-icons prefix">account_circle</i>
										<input id="edad" type="text" class="form-control validate" [(ngModel)]="newAlumno.edad" name="edad" pattern="^[0-9]+" required>
										<label for="edad" class="active" data-error="El DNI ingresado tiene un formato no válido" data-success="">Edad</label>
									</div>

									<!--E-Mail-->
									<!-- <div class="input-field">
										<i class="material-icons prefix">email</i>
										<input id="email" type="email" class="form-control validate" [(ngModel)]="newAlumno.usuario.email" name="email" pattern="[A-Za-z0-9-_\sáéíóúÁÉÍÓÚÑñ.,@]+"
										 title="El e-mail ingresado no puede contener caracteres especiales" required>
										<label for="email" class="active" data-error="El e-mail ingresado tiene un formato no válido" data-success="">Email</label>
									</div> -->

									<!--E-Mail-->
									<!-- <div class="input-field">
										<i class="material-icons prefix">email</i>
										<input id="emailCheck" type="email" class="form-control validate" [(ngModel)]="emailCheck" name="emailCheck" pattern="[A-Za-z0-9-_\sáéíóúÁÉÍÓÚÑñ.,@]+"
										 title="El e-mail ingresado no puede contener caracteres especiales" required>
										<label for="email" class="active" data-error="El e-mail ingresado tiene un formato no válido" data-success="">Email</label>
									</div> -->

									<div class="input-field">
										<div class="row">
											<div class="col s6">
												 <label class="active">Condición</label> 
												  <!-- <i class="material-icons prefix">account_circle</i> -->
												<select class="browser-default" (change)="changeCondicion(condicion.value)" #condicion [(ngModel)]="newAlumno.regular" name="regular">
													<option disabled="disabled">Condición</option>
													<option [value]="true">Regular</option>
													<option [value]="false">No regular</option>
												</select>
											</div>
										</div>
									</div>

									<!--Password-->

									<!-- <div class="input-field" *ngIf="!editMode">
										<i class="material-icons prefix">vpn_key</i>
										<input id="password" type="password" class="form-control validate" [(ngModel)]="newAlumno.usuario.password" name="password"
										 required pattern=".{5,12}" title="Debe tener entre 5 y 12 caracteres">
										<label for="password" class="active" data-error="La password debe tener entre 5 y 12 caracteres" data-success="">Password</label>
									</div>

									<div class="input-field" *ngIf="!editMode">
										<i class="material-icons prefix">vpn_key</i>
										<input id="passwordCheck" type="password" class="form-control validate" [(ngModel)]="passwordCheck" name="passwordCheck"
										 required pattern=".{5,12}" title="Debe tener entre 5 y 12 caracteres">
										<label for="password" class="active" data-error="La password debe tener entre 5 y 12 caracteres" data-success="">Password</label>
									</div>

									<div class="input-field" *ngIf="editMode">
										<i class="material-icons prefix">vpn_key</i>
										<input id="password" type="password" class="form-control validate" [(ngModel)]="newAlumno.usuario.password" name="password"
										 pattern=".{5,12}" title="Debe tener entre 5 y 12 caracteres">
										<label for="password" class="active" data-error="La password debe tener entre 5 y 12 caracteres" data-success="">Password</label>
									</div>

									<div class="input-field" *ngIf="editMode">
										<i class="material-icons prefix">vpn_key</i>
										<input id="passwordCheck" type="password" class="form-control validate" [(ngModel)]="passwordCheck" name="passwordCheck"
										 pattern=".{5,12}" title="Debe tener entre 5 y 12 caracteres">
										<label for="password" class="active" data-error="La password debe tener entre 5 y 12 caracteres" data-success="">Password</label>
									</div> -->

								</div>
							</div>

							<div class="row form-buttons">
								<a class="waves-effect waves-light btn teal" (click)="goBack()">
					CANCELAR</a>
								<button class="waves-effect waves-light btn teal" type="submit">
					ACEPTAR</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>