<div id="curso-detail-container" *ngIf="curso" [hidden]="active">
	<div class="row">
		<h4>{{curso.nombre | uppercase}}</h4>

		<ul class="fa-ul">
			<li><i class="fa-li fa fa-file-text-o"></i><strong>Nombre: </strong> {{curso.nombre}}</li>
			<li><i class="fa-li fa fa-calendar"></i><strong>Dias: </strong> {{curso.diasStr}}</li>
			<li><i class="fa-li fa fa-clock-o"></i><strong>Hora Inicio:</strong> {{curso.horaInicio}}</li>
			<li><i class="fa-li fa fa-clock-o"></i><strong>Hora Fin:</strong> {{curso.horaFin}}</li>
			<li><i class="fa-li fa fa-calendar"></i><strong>Fecha Inicio:</strong> {{curso.fechaInicio}}</li>
			<li><i class="fa-li fa fa-calendar"></i><strong>Fecha Fin:</strong> {{curso.fechaFin}}</li>
			<li><p><i class="fa-li fa fa-file-text-o"></i><strong>Descripción: </strong> {{curso.descripcion}}</p></li>
		
		</ul>

		
<div class="row" id="inscripcion-buttons">
	<a class="waves-effect waves-light btn teal" (click)="inscribirseACurso()">
		INSCRIBIRSE
	</a>
	<a class="waves-effect waves-light btn teal" (click)="desinscribirseACurso()">
		DESINSCRIBIRSE
	</a>	
</div>
		
	</div>
</div>

<div class="row form-buttons" *ngIf="!active">	
	<a class="waves-effect waves-light btn teal" (click)="gotoEditCurso()">
		<i class="fa fa-pencil fa-lg fa-fw pull-left"></i>EDITAR
	</a>
	<a class="waves-effect waves-light btn teal" (click)="deleteCurso()">
		<i class="fa fa-trash-o fa-lg fa-fw pull-left"></i>ELIMINAR
	</a>
	<a class="waves-effect waves-light btn teal" (click)="goBack()">
		<i class="fa fa-arrow-left fa-lg fa-fw pull-left"></i>VOLVER
	</a>
</div>